node.exe : warn The configuration property `package.json#prisma` is deprecated
 and will be removed in Prisma 7. Please migrate to a Prisma config file (e.g.
, `prisma.config.ts`).
At line:1 char:1
+ & "C:\Program Files\nodejs/node.exe" "C:\Program Files\nodejs/node_mo ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (warn The config...ma.config.ts`) 
   .:String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
For more information, see: https://pris.ly/prisma-config

-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "nip" TEXT NOT NULL,
    "nama" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT NOT NULL,
    "jabatan" TEXT,
    "noHp" TEXT,
    "requestedRole" TEXT,
    "accountStatus" TEXT,
    "statusReason" TEXT,
    "approvedById" TEXT,
    "approvedAt" TIMESTAMP(3),
    "isActive" BOOLEAN NOT NULL DEFAULT true,
    "lastLoginAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Role" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Role_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Permission" (
    "id" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "description" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Permission_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "UserRole" (
    "userId" TEXT NOT NULL,
    "roleId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "UserRole_pkey" PRIMARY KEY ("userId","roleId")
);

-- CreateTable
CREATE TABLE "RolePermission" (
    "roleId" TEXT NOT NULL,
    "permissionId" TEXT NOT NULL,

    CONSTRAINT "RolePermission_pkey" PRIMARY KEY ("roleId","permissionId")
);

-- CreateTable
CREATE TABLE "AuditLog" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "action" TEXT NOT NULL,
    "entityName" TEXT,
    "entityId" TEXT,
    "oldValues" TEXT,
    "newValues" TEXT,
    "detail" TEXT,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "AuditLog_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WBPBlockRoom" (
    "id" TEXT NOT NULL,
    "blockName" TEXT NOT NULL,
    "roomNumber" TEXT NOT NULL,
    "maxCapacity" INTEGER NOT NULL DEFAULT 0,
    "currentOccupancy" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'Aktif',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WBPBlockRoom_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WBP" (
    "id" TEXT NOT NULL,
    "nomorRegister" TEXT NOT NULL,
    "nama" TEXT NOT NULL,
    "nik" TEXT,
    "tempatLahir" TEXT,
    "tanggalLahir" TIMESTAMP(3),
    "jenisKelamin" TEXT NOT NULL DEFAULT 'Laki-laki',
    "pasal" TEXT,
    "lamaHukuman" TEXT,
    "sentenceMonths" INTEGER,
    "tanggalEksekusi" TIMESTAMP(3),
    "risiko" TEXT NOT NULL DEFAULT 'Rendah',
    "status" TEXT NOT NULL DEFAULT 'Aktif',
    "tanggalMasuk" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "catatan" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "currentRoomId" TEXT,

    CONSTRAINT "WBP_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "RiwayatMutasi" (
    "id" TEXT NOT NULL,
    "wbpId" TEXT NOT NULL,
    "roomAsalId" TEXT,
    "roomTujuanId" TEXT,
    "alasan" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "RiwayatMutasi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ReguPengamanan" (
    "id" TEXT NOT NULL,
    "nama" TEXT NOT NULL,
    "anggota" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Aktif',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ReguPengamanan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "JadwalRegu" (
    "id" TEXT NOT NULL,
    "reguId" TEXT NOT NULL,
    "tanggal" TEXT NOT NULL,
    "shift" TEXT NOT NULL,
    "pos" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "leaderUserId" TEXT,

    CONSTRAINT "JadwalRegu_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SerahTerima" (
    "id" TEXT NOT NULL,
    "tanggal" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "reguId" TEXT NOT NULL,
    "reguDariId" TEXT NOT NULL,
    "reguKeId" TEXT NOT NULL,
    "totalWBP" INTEGER NOT NULL DEFAULT 0,
    "wbpRawatInap" INTEGER NOT NULL DEFAULT 0,
    "wbpKerjaLuar" INTEGER NOT NULL DEFAULT 0,
    "catatanKeamanan" TEXT,
    "catatanInventaris" TEXT,
    "catatanKejadian" TEXT,
    "status" TEXT NOT NULL DEFAULT 'DRAFT',
    "confirmedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "SerahTerima_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Gangguan" (
    "id" TEXT NOT NULL,
    "nomorInsiden" TEXT,
    "tanggal" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "blok" TEXT,
    "kamar" TEXT,
    "jenis" TEXT NOT NULL,
    "tingkat" TEXT NOT NULL DEFAULT 'Sedang',
    "kronologi" TEXT,
    "tindakanAwal" TEXT,
    "wbpTerlibat" TEXT,
    "lampiran" TEXT,
    "status" TEXT NOT NULL DEFAULT 'OPEN',
    "tindakLanjut" TEXT,
    "rekomendasi" TEXT,
    "resolvedAt" TIMESTAMP(3),
    "closedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "reporterId" TEXT,
    "assignedToId" TEXT,

    CONSTRAINT "Gangguan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WBPRawatInap" (
    "id" TEXT NOT NULL,
    "wbpId" TEXT NOT NULL,
    "rumahSakit" TEXT NOT NULL,
    "tanggalKeluar" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "tanggalKembali" TIMESTAMP(3),
    "petugasPendamping" TEXT,
    "suratRujukan" TEXT,
    "suratPerintah" TEXT,
    "kondisiKembali" TEXT,
    "status" TEXT NOT NULL DEFAULT 'AKTIF',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WBPRawatInap_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "WBPKerjaLuar" (
    "id" TEXT NOT NULL,
    "wbpId" TEXT NOT NULL,
    "kegiatan" TEXT NOT NULL,
    "lokasi" TEXT,
    "jamKeluar" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "estimasiKembali" TIMESTAMP(3),
    "jamKembali" TIMESTAMP(3),
    "petugasPengawal" TEXT,
    "keterlambatan" BOOLEAN NOT NULL DEFAULT false,
    "status" TEXT NOT NULL DEFAULT 'AKTIF',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "WBPKerjaLuar_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Kunjungan" (
    "id" TEXT NOT NULL,
    "kodeBooking" TEXT NOT NULL,
    "namaPemohon" TEXT NOT NULL,
    "nikPemohon" TEXT,
    "noHp" TEXT,
    "alamat" TEXT,
    "hubungan" TEXT NOT NULL,
    "wbpId" TEXT,
    "namaWbp" TEXT,
    "nomorRegisterWbp" TEXT,
    "tanggal" TEXT NOT NULL,
    "sesi" TEXT NOT NULL,
    "keperluan" TEXT,
    "jenisIdentitas" TEXT,
    "setujuPersyaratan" BOOLEAN NOT NULL DEFAULT false,
    "persetujuanAt" TIMESTAMP(3),
    "status" TEXT NOT NULL DEFAULT 'Menunggu',
    "checkedInAt" TIMESTAMP(3),
    "selesaiAt" TIMESTAMP(3),
    "catatanPetugas" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Kunjungan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KunjunganBerkas" (
    "id" TEXT NOT NULL,
    "kunjunganId" TEXT NOT NULL,
    "jenis" TEXT NOT NULL,
    "namaFile" TEXT NOT NULL,
    "mimeType" TEXT NOT NULL,
    "ukuran" INTEGER NOT NULL,
    "data" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "KunjunganBerkas_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Pengaduan" (
    "id" TEXT NOT NULL,
    "kodeTracking" TEXT NOT NULL,
    "namaPelapor" TEXT,
    "kontak" TEXT,
    "kategori" TEXT NOT NULL,
    "subjek" TEXT NOT NULL,
    "isi" TEXT NOT NULL,
    "isAnonim" BOOLEAN NOT NULL DEFAULT false,
    "balasan" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Baru',
    "ditanganiOleh" TEXT,
    "selesaiAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,
    "responderId" TEXT,

    CONSTRAINT "Pengaduan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProgramPembinaan" (
    "id" TEXT NOT NULL,
    "nama" TEXT NOT NULL,
    "kategori" TEXT NOT NULL,
    "periode" TEXT,
    "pembina" TEXT,
    "jadwal" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Berjalan',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProgramPembinaan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PesertaPembinaan" (
    "id" TEXT NOT NULL,
    "programId" TEXT NOT NULL,
    "wbpId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PesertaPembinaan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "KehadiranPembinaan" (
    "id" TEXT NOT NULL,
    "programId" TEXT NOT NULL,
    "wbpId" TEXT NOT NULL,
    "tanggal" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'Hadir',
    "catatan" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "KehadiranPembinaan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LayananInformasi" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "nama" TEXT NOT NULL,
    "kategori" TEXT NOT NULL,
    "deskripsi" TEXT,
    "dasarHukum" TEXT,
    "persyaratan" TEXT,
    "alur" TEXT,
    "estimasiWaktu" TEXT,
    "templateDokumen" TEXT,
    "faq" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Aktif',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "LayananInformasi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Berita" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "judul" TEXT NOT NULL,
    "ringkasan" TEXT,
    "isi" TEXT,
    "gambar" TEXT,
    "kategori" TEXT,
    "penulis" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Draft',
    "publishedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Berita_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Galeri" (
    "id" TEXT NOT NULL,
    "judul" TEXT NOT NULL,
    "deskripsi" TEXT,
    "gambar" TEXT,
    "kategori" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Galeri_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ProdukWBP" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "nama" TEXT NOT NULL,
    "deskripsi" TEXT,
    "kategori" TEXT,
    "gambar" TEXT,
    "harga" TEXT,
    "ketersediaan" TEXT NOT NULL DEFAULT 'Tersedia',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "ProdukWBP_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SKMResponse" (
    "id" TEXT NOT NULL,
    "nama" TEXT,
    "layanan" TEXT,
    "nilai" DOUBLE PRECISION NOT NULL,
    "kritikSaran" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SKMResponse_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Notifikasi" (
    "id" TEXT NOT NULL,
    "userId" TEXT,
    "judul" TEXT NOT NULL,
    "isi" TEXT,
    "jenis" TEXT,
    "isRead" BOOLEAN NOT NULL DEFAULT false,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Notifikasi_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "BarangTitipan" (
    "id" TEXT NOT NULL,
    "kodeTitipan" TEXT NOT NULL,
    "namaPengirim" TEXT NOT NULL,
    "nikPengirim" TEXT,
    "noHp" TEXT,
    "hubungan" TEXT NOT NULL,
    "wbpId" TEXT,
    "namaWbp" TEXT,
    "nomorRegisterWbp" TEXT,
    "kategori" TEXT NOT NULL DEFAULT 'Lainnya',
    "tanggalPenitipan" TEXT NOT NULL,
    "jamPenitipan" TEXT,
    "catatanPengirim" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Menunggu',
    "catatanPetugas" TEXT,
    "alasanPenolakan" TEXT,
    "verifiedById" TEXT,
    "verifiedAt" TIMESTAMP(3),
    "deliveredAt" TIMESTAMP(3),
    "rejectedAt" TIMESTAMP(3),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "BarangTitipan_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "ItemBarang" (
    "id" TEXT NOT NULL,
    "barangTitipanId" TEXT NOT NULL,
    "namaBarang" TEXT NOT NULL,
    "jumlah" INTEGER NOT NULL DEFAULT 1,
    "satuan" TEXT NOT NULL DEFAULT 'pcs',
    "keterangan" TEXT,
    "status" TEXT NOT NULL DEFAULT 'Menunggu',
    "alasanPenolakan" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "ItemBarang_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SecurityEvent" (
    "id" TEXT NOT NULL,
    "type" TEXT NOT NULL,
    "severity" TEXT NOT NULL DEFAULT 'medium',
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "userId" TEXT,
    "detail" TEXT NOT NULL,
    "metadata" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SecurityEvent_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "LoginAttempt" (
    "id" TEXT NOT NULL,
    "nip" TEXT NOT NULL,
    "ipAddress" TEXT,
    "userAgent" TEXT,
    "success" BOOLEAN NOT NULL DEFAULT false,
    "lockedUntil" TIMESTAMP(3),
    "failCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "LoginAttempt_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Backup" (
    "id" TEXT NOT NULL,
    "fileName" TEXT NOT NULL,
    "fileSize" INTEGER NOT NULL DEFAULT 0,
    "status" TEXT NOT NULL DEFAULT 'SUCCESS',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Backup_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_nip_key" ON "User"("nip");

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE INDEX "User_nip_idx" ON "User"("nip");

-- CreateIndex
CREATE INDEX "User_isActive_idx" ON "User"("isActive");

-- CreateIndex
CREATE INDEX "User_accountStatus_idx" ON "User"("accountStatus");

-- CreateIndex
CREATE UNIQUE INDEX "Role_code_key" ON "Role"("code");

-- CreateIndex
CREATE INDEX "Role_code_idx" ON "Role"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Permission_code_key" ON "Permission"("code");

-- CreateIndex
CREATE INDEX "Permission_code_idx" ON "Permission"("code");

-- CreateIndex
CREATE INDEX "AuditLog_entityName_entityId_idx" ON "AuditLog"("entityName", "entityId");

-- CreateIndex
CREATE INDEX "AuditLog_createdAt_idx" ON "AuditLog"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "AuditLog_userId_idx" ON "AuditLog"("userId");

-- CreateIndex
CREATE INDEX "WBPBlockRoom_blockName_idx" ON "WBPBlockRoom"("blockName");

-- CreateIndex
CREATE UNIQUE INDEX "WBPBlockRoom_blockName_roomNumber_key" ON "WBPBlockRoom"("blockName", "roomNumber");

-- CreateIndex
CREATE UNIQUE INDEX "WBP_nomorRegister_key" ON "WBP"("nomorRegister");

-- CreateIndex
CREATE INDEX "WBP_nomorRegister_nik_idx" ON "WBP"("nomorRegister", "nik");

-- CreateIndex
CREATE INDEX "WBP_status_idx" ON "WBP"("status");

-- CreateIndex
CREATE INDEX "WBP_currentRoomId_idx" ON "WBP"("currentRoomId");

-- CreateIndex
CREATE INDEX "RiwayatMutasi_wbpId_idx" ON "RiwayatMutasi"("wbpId");

-- CreateIndex
CREATE INDEX "JadwalRegu_tanggal_idx" ON "JadwalRegu"("tanggal");

-- CreateIndex
CREATE INDEX "JadwalRegu_reguId_idx" ON "JadwalRegu"("reguId");

-- CreateIndex
CREATE INDEX "SerahTerima_status_idx" ON "SerahTerima"("status");

-- CreateIndex
CREATE INDEX "Gangguan_tingkat_status_idx" ON "Gangguan"("tingkat", "status");

-- CreateIndex
CREATE INDEX "Gangguan_status_idx" ON "Gangguan"("status");

-- CreateIndex
CREATE INDEX "WBPRawatInap_wbpId_idx" ON "WBPRawatInap"("wbpId");

-- CreateIndex
CREATE INDEX "WBPKerjaLuar_wbpId_idx" ON "WBPKerjaLuar"("wbpId");

-- CreateIndex
CREATE UNIQUE INDEX "Kunjungan_kodeBooking_key" ON "Kunjungan"("kodeBooking");

-- CreateIndex
CREATE INDEX "Kunjungan_tanggal_status_idx" ON "Kunjungan"("tanggal", "status");

-- CreateIndex
CREATE INDEX "Kunjungan_kodeBooking_idx" ON "Kunjungan"("kodeBooking");

-- CreateIndex
CREATE INDEX "Kunjungan_wbpId_idx" ON "Kunjungan"("wbpId");

-- CreateIndex
CREATE INDEX "KunjunganBerkas_kunjunganId_idx" ON "KunjunganBerkas"("kunjunganId");

-- CreateIndex
CREATE INDEX "KunjunganBerkas_jenis_idx" ON "KunjunganBerkas"("jenis");

-- CreateIndex
CREATE UNIQUE INDEX "Pengaduan_kodeTracking_key" ON "Pengaduan"("kodeTracking");

-- CreateIndex
CREATE INDEX "Pengaduan_kodeTracking_idx" ON "Pengaduan"("kodeTracking");

-- CreateIndex
CREATE INDEX "Pengaduan_status_idx" ON "Pengaduan"("status");

-- CreateIndex
CREATE UNIQUE INDEX "PesertaPembinaan_programId_wbpId_key" ON "PesertaPembinaan"("programId", "wbpId");

-- CreateIndex
CREATE UNIQUE INDEX "KehadiranPembinaan_programId_wbpId_tanggal_key" ON "KehadiranPembinaan"("programId", "wbpId", "tanggal");

-- CreateIndex
CREATE UNIQUE INDEX "LayananInformasi_slug_key" ON "LayananInformasi"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Berita_slug_key" ON "Berita"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "ProdukWBP_slug_key" ON "ProdukWBP"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "BarangTitipan_kodeTitipan_key" ON "BarangTitipan"("kodeTitipan");

-- CreateIndex
CREATE INDEX "BarangTitipan_kodeTitipan_idx" ON "BarangTitipan"("kodeTitipan");

-- CreateIndex
CREATE INDEX "BarangTitipan_wbpId_idx" ON "BarangTitipan"("wbpId");

-- CreateIndex
CREATE INDEX "BarangTitipan_status_idx" ON "BarangTitipan"("status");

-- CreateIndex
CREATE INDEX "BarangTitipan_tanggalPenitipan_idx" ON "BarangTitipan"("tanggalPenitipan");

-- CreateIndex
CREATE INDEX "ItemBarang_barangTitipanId_idx" ON "ItemBarang"("barangTitipanId");

-- CreateIndex
CREATE INDEX "SecurityEvent_type_idx" ON "SecurityEvent"("type");

-- CreateIndex
CREATE INDEX "SecurityEvent_severity_idx" ON "SecurityEvent"("severity");

-- CreateIndex
CREATE INDEX "SecurityEvent_createdAt_idx" ON "SecurityEvent"("createdAt" DESC);

-- CreateIndex
CREATE INDEX "SecurityEvent_ipAddress_idx" ON "SecurityEvent"("ipAddress");

-- CreateIndex
CREATE INDEX "LoginAttempt_nip_idx" ON "LoginAttempt"("nip");

-- CreateIndex
CREATE INDEX "LoginAttempt_ipAddress_idx" ON "LoginAttempt"("ipAddress");

-- CreateIndex
CREATE INDEX "LoginAttempt_createdAt_idx" ON "LoginAttempt"("createdAt" DESC);

-- AddForeignKey
ALTER TABLE "User" ADD CONSTRAINT "User_approvedById_fkey" FOREIGN KEY ("approvedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "UserRole" ADD CONSTRAINT "UserRole_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_roleId_fkey" FOREIGN KEY ("roleId") REFERENCES "Role"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RolePermission" ADD CONSTRAINT "RolePermission_permissionId_fkey" FOREIGN KEY ("permissionId") REFERENCES "Permission"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "AuditLog" ADD CONSTRAINT "AuditLog_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WBP" ADD CONSTRAINT "WBP_currentRoomId_fkey" FOREIGN KEY ("currentRoomId") REFERENCES "WBPBlockRoom"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RiwayatMutasi" ADD CONSTRAINT "RiwayatMutasi_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RiwayatMutasi" ADD CONSTRAINT "RiwayatMutasi_roomAsalId_fkey" FOREIGN KEY ("roomAsalId") REFERENCES "WBPBlockRoom"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "RiwayatMutasi" ADD CONSTRAINT "RiwayatMutasi_roomTujuanId_fkey" FOREIGN KEY ("roomTujuanId") REFERENCES "WBPBlockRoom"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JadwalRegu" ADD CONSTRAINT "JadwalRegu_reguId_fkey" FOREIGN KEY ("reguId") REFERENCES "ReguPengamanan"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "JadwalRegu" ADD CONSTRAINT "JadwalRegu_leaderUserId_fkey" FOREIGN KEY ("leaderUserId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SerahTerima" ADD CONSTRAINT "SerahTerima_reguId_fkey" FOREIGN KEY ("reguId") REFERENCES "ReguPengamanan"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SerahTerima" ADD CONSTRAINT "SerahTerima_reguDariId_fkey" FOREIGN KEY ("reguDariId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SerahTerima" ADD CONSTRAINT "SerahTerima_reguKeId_fkey" FOREIGN KEY ("reguKeId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Gangguan" ADD CONSTRAINT "Gangguan_reporterId_fkey" FOREIGN KEY ("reporterId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Gangguan" ADD CONSTRAINT "Gangguan_assignedToId_fkey" FOREIGN KEY ("assignedToId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WBPRawatInap" ADD CONSTRAINT "WBPRawatInap_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "WBPKerjaLuar" ADD CONSTRAINT "WBPKerjaLuar_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Kunjungan" ADD CONSTRAINT "Kunjungan_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KunjunganBerkas" ADD CONSTRAINT "KunjunganBerkas_kunjunganId_fkey" FOREIGN KEY ("kunjunganId") REFERENCES "Kunjungan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Pengaduan" ADD CONSTRAINT "Pengaduan_responderId_fkey" FOREIGN KEY ("responderId") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PesertaPembinaan" ADD CONSTRAINT "PesertaPembinaan_programId_fkey" FOREIGN KEY ("programId") REFERENCES "ProgramPembinaan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PesertaPembinaan" ADD CONSTRAINT "PesertaPembinaan_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KehadiranPembinaan" ADD CONSTRAINT "KehadiranPembinaan_programId_fkey" FOREIGN KEY ("programId") REFERENCES "ProgramPembinaan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "KehadiranPembinaan" ADD CONSTRAINT "KehadiranPembinaan_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BarangTitipan" ADD CONSTRAINT "BarangTitipan_wbpId_fkey" FOREIGN KEY ("wbpId") REFERENCES "WBP"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "BarangTitipan" ADD CONSTRAINT "BarangTitipan_verifiedById_fkey" FOREIGN KEY ("verifiedById") REFERENCES "User"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "ItemBarang" ADD CONSTRAINT "ItemBarang_barangTitipanId_fkey" FOREIGN KEY ("barangTitipanId") REFERENCES "BarangTitipan"("id") ON DELETE CASCADE ON UPDATE CASCADE;

